<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Geolocation</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>HTML5 Geolocation Trial</h1>
  <p id="target"></p>
  <input type='submit' onclick="getLocation()" value='Get Location'></button>
  <script type="text/javascript">
    let $target = document.getElementById('target');

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        $target.innerHTML = 'Location Tracking Failed';
      }
    }

    function showPosition(position) {
      $target.innerHTML = `Lat: ${position.coords.latitude}, Lng: ${position.coords.longitude}`;
    }

  </script>

</body>
</html>
