<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CrowdSourced Bus Stops</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="login-content">Crowd Sourced Bus Stops</h1>
    <input class="login-content" type="text" name="" placeholder="Username">
    <input class="login-content" type="text" name="" placeholder="Password">

  </div>
</body>
</html>
