<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Map your bus stop!</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" href="./images/bus_stop.png">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
<h1>Bus Stop Crowdsourcing</h1>
  <%# this is where the map goes %>
  <div id="map" class='mapa'></div>
  <%# this is where the info appears %>
  <aside class="mapa">
    <div class='mapa user-info'>
      <h3>Username: </h3>
      <p class='username'><a href="/users/profile"><%= user.username %></a></p>
      <form action="/auth?_method=DELETE" method="post">
          <input type="submit" value="Logout">
      </form>
    </div>
    <div class='mapa loc-info'>
    <form action="/map/favorites" method="POST" accept-charset="utf-8">
      <h3>Lat</h3>
      <input type="text" name="favorite[lat]" class='lat'>
      <h3>Long</h3>
      <input type="text" name="favorite[lng]" class='lng'>
      <h3>Bus route</h3>
      <input type="text" name="favorite[route]">
      <input type="submit" value="Save">
    </form>
    </div>
  </aside>

<script src="/js/yes.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=API_KEY%>&callback=getLocation"
    async defer></script>
</body>
</html>
