<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Map your bus stop!</title>
  <link rel="stylesheet" href="./css/style.css">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
</head>
<body>
<h1>Bus Stop Crowdsourcing</h1>
  <div id="map" class='mapa'></div>

<script src="/js/yes.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt2ccMG8ZF_bYfbxI8g4QJUf5iB4TnHT8&callback=initMap" async defer></script>
</body>
</html>
