<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CrowdSourced Bus Stops</title>
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="login-content">Sign UP - Crowd Sourced Bus Stops</h1>
    <form class="login-content" action="/users" method="post">
      <input type="text" name="user[username]" value="" placeholder="Username">
      <input type="password" name="user[password]" value="" placeholder="Password">
      <input type="submit" value="Sign up">
    </form>
  </div>
</body>
</html>
