html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;;
}

body.mapa  {
  background-color: rgb(211,211,211);
  text-align: center;
}

.container.mapa {
  width: 100vw;
  height: 100vh;
}

/* changing the size of internat text of inputs*/
input[type="text"], input[type="password"] {
    font-size:2em;
    /*padding: 0;*/
}

footer.mapa {
  width: 30%;
  height: 400px;
  /*border: 2px dotted blue;*/
  float: right;
  margin: 0 0 0 4em;
}

#map {
  height: 400px;
  width: 60%;
  float: left;
}

