html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-content {
  display: block;
  margin: 10px;
}

.login-content input {
  line-height: 2em;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#map {
  height: 400px;
  width: 60%;
}

/*.map aside {
  width: 25vw;
  height: 80vh;
  border: 2px dotted blue;
  float: right;
}*/
